---
// import { Image } from 'astro:assets'
// import profileImage from '../../public/images/placeholder.webp'
---

<div class="flex flex-col max-h-100 h-100 gap-5">
    <!-- profile image and introduction -->
     <div class="w-full flex justify-between">
        <!-- <Image src={profileImage} alt="headshot" width="64" height="64" class="rounded-lg"/> -->

        <!-- the image holder -->
        <div class="aspect-square w-[20%] overflow-hidden rounded-md border-1 hidden md:block">
            <img src="/images/placeholder.webp" alt="headshot" class="object-cover object-center">
        </div>

        <!-- the intro paragraph -->
        <div class="md:w-[70%] border-1 rounded-md max-h-25 w-full text-xs p-2 overflow-scroll no-scrollbar">
            <p>My professional background as a music producer and full-stack creative, paired with my love of games, led me to discovering my love for creating any and everything with code.</p>
        </div>
    </div>

    <div class="w-full flex flex-col text-xs border-1 rounded-md p-2 gap-1 max-h-25 overflow-scroll no-scrollbar">
        <p>From working in music and learning programming, I've learned the most valuable skill to have is adaptability.</p>
        <p>Our fields are always changing rapidly, so being able to learn fast and pivot faster is essential</p>
    </div>


    <p class="text-xs w-full text-center">Tech Stack</p>
    <hr class="opacity-50">

    <!-- the tech scroll -->
    <div class="relative w-full">
        <div class="flex overflow-x-auto gap-4 relative no-scrollbar text-almost-white opacity-100 text-xs text-nowrap">
            <!-- copy techs below -->
            <div class="px-4 py-2 text-center react-gradient rounded-lg shadow-sm transition-all cursor-default">
                React
            </div>
            <div class="px-4 py-2 text-center astro-gradient rounded-lg shadow-sm transition-all cursor-default">
                Astro
            </div>
            <div class="px-4 py-2 text-center tailwind-gradient rounded-lg shadow-sm transition-all cursor-default">
                Tailwind
            </div>
            <div class="px-4 py-2 text-center git-gradient rounded-lg shadow-sm transition-all cursor-default">
                Git
            </div>
            <div class="px-4 py-2 text-center vite-gradient rounded-lg shadow-sm transition-all cursor-default">
                Vite
            </div>
            <div class="px-4 py-2 text-center unity-gradient rounded-lg shadow-sm transition-all cursor-default">
                Unity/C#
            </div>
            <div class="px-4 py-2 text-center godot-gradient rounded-lg shadow-sm transition-all cursor-default">
                GDScript
            </div>
            <div class="px-4 py-2 text-center js-gradient rounded-lg shadow-sm transition-all cursor-default">
                JavaScript
            </div>
            <div class="px-4 py-2 text-center css-gradient rounded-lg shadow-sm transition-all cursor-default">
                CSS
            </div>
            <div class="px-4 py-2 text-center cf-gradient rounded-lg shadow-sm transition-all cursor-default">
                CloudFlare Pages
            </div>
        </div>
        <!-- fades -->
        <div class="pointer-events-none absolute top-0 bottom-0 left-0 w-8 bg-gradient-to-r from-almost-white dark:from-almost-black to-transparent"></div>
        <div class="pointer-events-none absolute top-0 bottom-0 right-0 w-8 bg-gradient-to-l from-almost-white dark:from-almost-black to-transparent"></div>
    </div>


    <div class="w-full flex flex-col text-xs rounded-md p-2 gap-1 max-h-25 overflow-scroll no-scrollbar border-1">
        <p>- Currently working on: mastery of NodeJS</p>
        <p>- Reach out anytime! Looking forward to hearing from you!</p>
    </div>

</div>