---

---

<div class="flex flex-col md:max-h-100 md:h-100 h-110 gap-5">
    <!-- intro box -->
    <div class="w-full flex flex-col text-xs border-1 rounded-md p-2 gap-1 overflow-scroll no-scrollbar">
        <p class="text-xs">Hey, here's a quick overview on myself and some of the tech I've used to deploy live projects!</p>
    </div>

    <!-- first double box -->
    <div class="flex justify-between gap-5">
        <!-- left side -->
        <div class="w-full flex flex-col text-xs border-1 rounded-md p-2 gap-1 overflow-scroll no-scrollbar h-30">
            <p class="text-xs">Tech</p>
            <ul class="text-[10px]">
                <li>- Javascript</li>
                <li>- HTML</li>
                <li>- CSS</li>
                <li>- Git</li>
                <li>- C# (In Unity)</li>
                <li>- GDScript</li>
            </ul>
        </div>
        <!-- right side -->
        <div class="w-full flex flex-col text-xs border-1 rounded-md p-2 gap-1 overflow-scroll no-scrollbar h-30">
            <p class="text-xs">Frameworks & Engines</p>
            <ul class="text-[10px]">
                <li>- React</li>
                <li>- Astro</li>
                <li>- Godot</li>
                <li>- Unity</li>
            </ul>
        </div>
    </div>

    <!-- second double box -->
    <div class="flex justify-between gap-5">
        <!-- left side -->
        <div class="w-full flex flex-col text-xs border-1 rounded-md p-2 gap-1 overflow-scroll no-scrollbar h-30">
            <p class="text-xs">Interests</p>
            <ul class="text-[10px]">
                <li>- Frontend</li>
                <li>- Backend</li>
                <li>- AI</li>
                <li>- Game Development</li>
                <li>- Music/Audio Technology</li>
            </ul>
        </div>
        <!-- right side -->
        <div class="w-full flex flex-col text-xs border-1 rounded-md p-2 gap-1 overflow-scroll no-scrollbar h-30">
            <p class="text-xs">Intangibles</p>
            <ul class="text-[10px]">
                <li>- Self-starter</li>
                <li>- Detail Oriented</li>
                <li>- Adaptible</li>
                <li>- Fast Learner</li>
                <li>- Organized</li>
                <li>- Bilingual (EN/IT)</li>
            </ul>
        </div>
    </div>

    <!-- outro box -->
    <div class="w-full flex flex-col text-xs border-1 rounded-md p-2 gap-1 overflow-scroll no-scrollbar">
        <p class="text-xs">In progress</p>
        <ul class="text-[10px]">
            <li>- NodeJS</li>
        </ul>
    </div>
</div>