---

---

<footer class="fixed flex bottom-0 left-0 w-full text-center py-2 justify-center items-center bg-almost-white dark:bg-almost-black shadow-2xl">
    <span class="flex gap-1 text-sm">
        <p class="cursor-default">Made By</p>
        <a href="https://github.com/cescosgames" target="_blank" class=" text-blue-400 dark:text-blue-400 opacity-50 hover:opacity-100 transition">Cesco</a>
        <p class="cursor-default">|</p>
        <p class="cursor-default">Built With</p>
        <a href="https://astro.build/" target="_blank" class="text-orange-400 dark:text-orange-400 opacity-50 hover:opacity-100 transition">Astro</a>
    </span>
</footer>