<!doctype html>
<html lang="en" class="dark">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<meta name="description" content="Francesco Giannini - Frontend, GameDev, and WebDev Portfolio">
  		<meta name="author" content="Francesco Giannini">
  		<meta name="keywords" content="portfolio, web developer, game developer, frontend developer, projects, skills, Francesco Giannini">

		<!-- og tags -->
		<meta property="og:title" content="Francesco Giannini - Portfolio">
		<meta property="og:description" content="Francesco Giannini - Frontend, GameDev, and WebDev Portfolio">
		<!-- <meta property="og:image" content=""> replace once I get an image -->
		<!-- <meta property="og:url" content=""> replace once I get a url -->
		<meta property="og:type" content="website">

		<link rel="icon" href="images/cgLogo.ico" type="image/x-icon">
		<meta name="generator" content={Astro.generator} />
		<title>Cesco's Portfolio</title>
	</head>
	<body>
		<slot />
	</body>
</html>

<style>
	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
	}
</style>
